.navbar {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .navbar-search {
    flex-grow: 1;
    display: flex;
    margin-left: 100px;
    
  }
  
  .navbar-search-input {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #444;
    width: 500px;
    background-color: #fff;
    display: flex;
    align-items: center;
  }
  

  .navbar-links {
    display: flex;
    margin-right: 100px;
    gap: 60px;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .navbar-links a:hover {
    color: #f1f1f1;
  }
  
 
  .navbar-profile {
    display: flex;
    margin-right: 30px;
  }
  
  .navbar-profile .profile-img {
    width: 40px;
    height: 30px;
    border-radius: 80%;
    margin-right: 10px;
  }
  
 
  #profile {
    font-size: 16px;
    background-color: #333;
    font-weight: bold;
    color: white;
  }
  

  @media (max-width: 768px) {
    .navbar-search input {
      width: 150px;
    }
  
  
    .navbar-links a {
      font-size: 14px;
    }
  }
  